header {
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: red;
}

aside {
  width: 20%;
  height: 90%;
  left: 0;
  top: 10%;
  position: absolute;
  background-color: green;
}

section {
  width: 80%;
  height: 90%;
  right: 0;
  top: 10%;
  position: absolute;
  background-color: blue;
}

.vertical-resizer {
  width: 7px;
  height: 100%;
  background: yellow;
  position:absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
}
