header {
  height: 10%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #333;
  color: #fafafa;
}

aside {
  width: 20%;
  height: 90%;
  left: 0;
  top: 10%;
  position: absolute;
  background-color: #d5edd5;
}

section {
  width: 80%;
  height: 90%;
  right: 0;
  top: 10%;
  position: absolute;
  background-color: #f0f0f0;
}

.vertical-resizer {
  width: 7px;
  height: 100%;
  background: yellow;
  position:absolute;
  right: -3px;
  top: 0;
  cursor: col-resize;
  z-index: 1000;
}

.content-wrapper {
  margin: 10px 15px;
}

.title {
  text-align: center;
  font-size: 21px;
}
