body {
  overflow: hidden;
}

header {
  height: 5%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #333;
  color: #fafafa;
}

aside {
  width: 20%;
  height: 90%;
  left: 0;
  top: 5%;
  position: absolute;
  background-color: #0F6647;
  color: #fafafa;
}

section {
  width: 80%;
  height: 90%;
  right: 0;
  top: 5%;
  position: absolute;
  background-color: #f0f0f0;
}

footer {
  height: 5%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #333;
  color: #fafafa;
}

.vertical-resizer {
  width: 3px;
  height: 100%;
  position: absolute;
  right: -3px;
  top: 0;
  cursor: col-resize;
  z-index: 1000;
  border-width: 0px 1px;
  background-color: #964e3b;
  border-color: #777;
  border-style: solid;
}

.content-wrapper {
  padding: 10px 15px;
  overflow: auto;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 21px;
}
