body {
  overflow: hidden;
}

header, footer {
  width: 100%;
  left: 0;
  position: absolute;
  background-color: #333;
  color: #fafafa;
}
header {
  top: 0;
  height: 6%;
  min-height: 50px;
}
footer {
  height: 4%;
  bottom: 0;
  min-height: 30px;
}

aside {
  width: 20%;
  left: 0;
  position: absolute;
  background-color: #0F6647;
  color: #fafafa;
}

section {
  width: 80%;
  right: 0;
  position: absolute;
  background-color: #f0f0f0;
}

.vertical-resizer {
  width: 5px;
  height: 100%;
  position: absolute;
  right: -3px;
  top: 0;
  cursor: col-resize;
  z-index: 1000;
  background-color: #bbb;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #999;
}

.content-wrapper {
  padding: 10px 15px;
  overflow: auto;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 21px;
}
